@tailwind base;
@tailwind components;
@tailwind utilities;

/* home page custom styles */

.hero-gradient {
  background: linear-gradient(
    54deg,
    rgba(0, 0, 0, 0.7) 33.9%,
    rgba(0, 0, 0, 0) 95.55%
  );
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

@keyframes letterDrop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleText {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.text-container {
  text-align: center;
}

.animated-text .letter {
  display: inline-block;
  opacity: 0;
}

.school-text {
  display: block;
  opacity: 0;
  transform: scale(0.5);
  transition: transform 1s ease, opacity 1s ease;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

@media screen and (max-width: 991px) {
  .gallery {
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
  }
}

@media screen and (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}


.no-scroll {
  overflow: hidden;
}
